* {
    margin: 0%;
    padding: 0%;
}

body { 
    background-color: rgb(198, 198, 198);
}

Header {
    background-color: #31343d;
}

h1 {
    position: absolute;
    padding-left: 200px;
    padding-right: 40px;    
    font-size: 40px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color: #31343d;
    background-color: #9ea7a7;
    border: solid;
    border-color: 31343d;
    border-radius: 0 15px 15px 0;
}

.banner img{
    width: 1905px;
    height: 130px;
    margin-bottom: 2%;
    border-bottom: 5px solid rgb(220, 183, 179);
}


header nav ul li{
    display: inline-block;
}

a:link{
    position: relative;
    display: flex;
    flex-wrap: wrap;
    padding: 15px;
    left: 1300px;
    font-size: 23px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    display: block;
    color: #9ea7a7;
}

a:hover{
    color: white;
}

.about h2{
    position: relative;
    margin-left: 120px;
    width: 200px;
    font-size: 40px;
    text-align: right;
    color: #31343d;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    border-right: 3px solid black;
    padding-right: 25px;
    height: 240px;

}
    

.about .bio{
    position: absolute;
    left: 450px;
    top: 240px;
    width: 60%;
    text-wrap: balance;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}


#work h2{
    position: relative;
    display: block;
    margin-left: 120px;
    width: 200px;
    top: 100px;
    font-size: 40px;
    text-align: right;
    color: #31343d;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif, 'Sans', Arial, sans-serif;
    border-right: 3px solid black;
    padding-right: 25px;
    height: 700px;
}

#work .experience-1 img{
    position: absolute;
    left: 450px;
    top: 570px;
    width: 1050px;
    height: 200px;
    z-index: -1;
    border: #31343d solid 5px;
} 

#work .experience-1-banner{
    position: absolute;
    left: 1300px;
    top: 720px;
    background: #0a37bc;
    width: 200px;
    height: 50px;
    border: #31343d solid 5px;
} 

#work .experience-2 img{
    position: absolute;
    left: 450px;
    top: 800;
    width: 510px;
    height: 200px;
    z-index: -1;
    border: #31343d solid 5px;
}

#work .experience-2-banner{
    position: absolute;
    left: 760px;
    top: 950px;
    background: #9a9ca0;
    width: 200px;
    height: 50px;
    border: #31343d solid 5px;
}

#work .experience-3 img{
    position: absolute;
    left: 990px;
    top: 800;
    width: 510px;
    height: 200px;
    z-index: -1;
    border: #31343d solid 5px;
}


#work .experience-3-banner{
    position: absolute;
    left: 1300px;
    top: 950px;
    background: #94aee1;
    width: 200px;
    height: 50px;
    border: #31343d solid 5px;
} 

#work .experience-4 img{
    position: absolute;
    left: 990px;
    top: 1030;
    width: 510px;
    height: 200px;
    z-index: -1;
    border: #31343d solid 5px;
}

#work .experience-4-banner{
    position: absolute;
    left: 1300px;
    top: 1180px;
    background: #ace194;
    width: 200px;
    height: 50px;
    border: #313d36 solid 5px;
} 

#work .experience-5 img{
    position: absolute;
    top: 1030px;
    left: 450px;
    width: 510px;
    height: 200px;
    z-index: -1;
    border: 5px solid black;
} 

#work .experience-5-banner{
    position: absolute;
    left: 760px;
    top: 1180px;
    background: #e63088;
    width: 200px;
    height: 50px;
    border: #313d36 solid 5px;
} 


.contact h2{
    position: absolute;
    display: block;
    margin-left: 120px;
    top: 1500px;
    font-size: 40px;
    color: #31343d;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    border-right: 3px solid black;
    padding-right: 25px;
    height: 100px;
}



.contact ul li{
    text-wrap: balance;
    display: inline;
    text-decoration: underline;
    font-size: 25px;
    padding: 40px;    
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;

}

.contact ul{
    text-wrap: balance;
    position: relative;
    top: 350px;
    text-align: center;
}

footer{
    position: relative;
    text-wrap: balance;
    text-align: center;
    top: 500;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    padding-bottom: 50px;
}


p{
    font-size: 17px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

